<%= form_for(@habitante) do |f| %>
  <% if @habitante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@habitante.errors.count, "Errores.") %> Los siguientes errores no permitieron Guardar:</h2>

      <ul>
      <% @habitante.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cedula %><br />
    <%= f.text_field :cedula, class: "span2"  %>
  </div>
  <div class="field">
    <%= f.label :nombre, "Nombre y apellido"%><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label "Manzana." %><br />
    <%= f.text_field :manzana_id, class: "span2"  %>
  </div>
  <div class="field">
    <%= f.label :calle %><br />
    <%= f.text_field :calle, class: "span2" %>
  </div>
  <div class="field">
    <%= f.label :avenida %><br />
    <%= f.text_field :avenida, class: "span1" %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br />
    <%= f.text_field :telefono %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
