<div class="row-fluid">
    <div class="span9">
        <h1>Lista de habitantes</h1>

        <table class="table table-striped span9">
          <tr>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Manzana</th>
            <th>Calle</th>
            <th>Avenida</th>
            <th>Telefono</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>

        <% @habitantes.each do |habitante| %>
          <tr>
            <td><%= habitante.cedula %></td>
            <td><%= habitante.nombre %></td>
            <td><%= habitante.manzana_id %></td>
            <td><%= habitante.calle %></td>
            <td><%= habitante.avenida %></td>
            <td><%= habitante.telefono %></td>
            <td><%= link_to 'Ver', habitante, class: "btn btn-info" %></td>
            <td><%= link_to 'Editar', edit_habitante_path(habitante), class: "btn btn-warning" %></td>
            <td><%= link_to 'Borrar', habitante, method: :delete, data: { confirm: 'Estas seguro/a?' }, 
                    class: "btn btn-danger" %></td>
          </tr>
        <% end %>
        </table>

        <br />

        <%= link_to 'Nuevo Habitante', new_habitante_path %>
    </div>
</div>