<p id="notice"><%= notice %></p>

<p>
  <b>Cedula:</b>
  <%= @habitante.cedula %>
</p>

<p>
  <b>Nombre:</b>
  <%= @habitante.nombre %>
</p>

<p>
  <b>Manzana:</b>
  <%= @habitante.manzana_id %>
</p>

<p>
  <b>Calle:</b>
  <%= @habitante.calle %>
</p>

<p>
  <b>Avenida:</b>
  <%= @habitante.avenida %>
</p>

<p>
  <b>Telefono:</b>
  <%= @habitante.telefono %>
</p>


<%= link_to 'Edit', edit_habitante_path(@habitante) %> |
<%= link_to 'Back', habitantes_path %>
